.header{
  background-color: #56727C;
  display: flex;
  padding: 10px;
}

.header__links{
  display: flex;
  margin-left: auto; /* align the links to the right*/
}

ul li{
  list-style-type: none;
  display: inline;
  padding: 5px 15px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}